* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.goods {
  display: flex;
  gap: 25px;
}
.good {
  width: 23%;
  /* height: 500px; */
  padding: 5px;
  text-align: center;
  border: 1px solid gray;
  margin-top: 15px;
}
.good img {
  width: 100%;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.header {
  background-color: rgb(16, 16, 16);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
.cart {
  width: 250px;
}

.goods-in-cart {
  margin-bottom: 15px;
}

.basket-btn {
  font-size: 20px;
  font-weight: 700;
  background-color: gold;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  margin-bottom: 20px;
}

.basket-btn:hover,
.basket-btn:focus {
  background-color: cyan;
}

.product-add-btn {
  font-size: 14px;
  font-weight: 700;
  background-color: gold;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 300ms ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-add-btn:hover,
.product-add-btn:focus {
  background-color: cyan;
}

/*
________________________
 Modal 
 _________________________ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop--hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;
  transform: scale(1);
  width: 800px;
  min-height: 581px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-height: 100vh;
  overflow-y: auto;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: #000000;
  background: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-modal {
  font-size: 20px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  color: cyan;
  border: 1px solid cyan;
}

.modal__btn-close:hover .close-modal,
.modal__btn-close:focus .close-modal {
  color: cyan;
}

.modal__title {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.15;
}

/* styles for Card Display  */
.cart-display {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-item {
    position: relative;
  display: flex;
  padding-bottom: 20px;
  
  justify-content: space-between;
}

.cart-item:not(:last-child) {
  border-bottom: 1px solid black;
}


.cart-image {
  max-width: 100%;
  display: block;
  width: 80px;
}

.cart-title {
  font-size: 20px;
  width: 150px;
}

.cart-title-footer {
   font-weight: 700;
   font-size: 24px;
   width: 410px;
}

.cart-item-footer {
   background-color: beige;
   padding-top: 20px;
   padding-left: 20px;
}


.cart-quantity-wrap {
  width: 100px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
}

.quantity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: rgba(117, 117, 117, 0.5);
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.quantity-btn:hover {
  background-color: gold;
  color: black;
}

.cart-quantity,
.cart-total-quantity,
.cart-price,
.cart-title-img {
  font-size: 20px;
  font-weight: 700;
}

.cart-title-img {
  width: 80px;
}

.cart-total-quantity {
  width: 100px;

}

.cart-price {
  width: 80px;
}

.delete-btn {
position:absolute;
top:-20px;
right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;;
  width: 20px;
  height: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(117, 117, 117);
  color: black;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.delete-btn:hover {
  color: gold;
}


.empty-cart {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.15;
    color:dimgray;
    font-style: italic;
  }