.container{
    max-width: 1170px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.goods{
    display: flex;
    gap: 25px;
}
.good{
    width: 23%;
    /* height: 500px; */
    padding: 5px;
    text-align: center;
    border: 1px solid gray;
    margin-top: 15px;
}
.good img{
    width: 100%;
}
.good-price{
    font-size: 20px;
    font-weight: bold;
}
.header{
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}
.cart{
    width: 250px;
}

.basket-btn {
     font-display: 20px;
}